/* 图标按钮基础样式 */
.icon-button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
    background-color: transparent;
}

/* 悬停状态 */
.icon-button:hover {
    background-color: #f0f0f0;
}

/* 按钮图标样式 */
.button-icon {
    width: 28px;
    height: 28px;
}

/* 悬停状态 */
.button-icon:hover {
    background-color: #f0f0f0;
}

/* 按钮图标样式 */
.small_button-icon {
    width: 16px;
    height: 16px;
}

/* 悬停状态 */
.small_icon-button:hover {
    background-color: #f0f0f0;
}

.nav-item {
    transition: all 0.2s ease;
    border-radius: 8px; /* 可选：添加圆角 */
    padding: 8px; /* 可选：增加内边距 */
}

.nav-item:hover {
    background-color: #f0f0f0; /* 浅灰色背景 */
}

.nav-item:hover img {
    opacity: 0.8;
}

.nav-item:hover .indicator {
    opacity: 0.8;
}



